@charset "UTF-8";
/* CSS Document */
.list-group {
list-style-type: none;
}
.list-group-item {
	display:block;
}
.list-group-item::before {
	content:"";
}
.list-group-item-inline {
	display:inline-block;
}